@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 20px;
}

/* =====================
========common css=======
======================= */

img{
  max-width: 100%;
}
.highlight {
  color: #e3a446;
}
.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #c79141, #e3a446);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px 0 #a16916;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #a5075e;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 40px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #e3a446;
  margin: 50px 0;
}
a {
  text-decoration: none;
  color: #e3a446;
}
.card {
  
  padding: 30px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.card i {
  background-color: #e3a446;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  color: #fff;
  font-size: 1.6rem;
}
.card h3 {
  color: #e3a446;
  font-size: 25px;
}
.card p {
  margin: 10px 0;
  line-height: 1.5;
}
.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid #e3a446;
}


/* Header section */

.header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
.header > div{
  width: 45%;
}

.header img{
  width: 60%;
}

.header-left{
  margin-right: 50px;
}


/* Features section */

.features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.features > div{
  width: 40%;
  margin: 20px 0;
}


/* gallery section */

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.gallery img{
  border: 3px solid #a16916;
  height: 200px;
  width: 100%;
}


/* contact section */

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px 0;
}



.flex-grow{
  display: flex;
  margin: 5rem;
}
.flex-grow > div{
  width: 400px;
  flex-shrink: 0;
}

/* Media queries */
@media (max-width: 576px) {
  body{
    padding: 10px;
  }
  .header > div{
    width: 100%;
  }
  .header-left{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header-right{
    display: flex;
    justify-content: center;
  }

  .features > div{
    width: 90%;
  }

  .gallery, .contact{
    grid-template-columns: 1fr;
  }

}


@media (min-width:576px) and (max-width:776px) {

  .header > div{
    width: 100%;
  }
  .gallery{
    grid-template-columns: 1fr 1fr;
  }
}